
# H4ck Software
# Joseph Hans Diaz

# ExternalAssets gitignore

# .meta Files

*.meta

# TerrainTexturesPackFree Folder

TerrainTexturesPackFree/**

# SkySerieFreebie Folder

SkySerieFreebie/**

# _TerrainAutoUpgrade Folder

_TerrainAutoUpgrade/**
